<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body>
<h1 id="h1" style="display: block">去领略星辰大海</h1>
<div class="row col-md-offset-5">
    <h1 class="tip" style="color: #2aabd2">未来是你的</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="user">用户名</label>
                    <input type="text" class="form-control" id="user" placeholder="用户名">
                </div>
                 <div class="form-group">
                    <label for="pwd">密码</label>
                    <input type="password" class="form-control" id="pwd" placeholder="密码">
                </div>
                <div class="row">
                    <div class="col-md-6">
                         <div class="form-group">
                            <label for="valid_code">验证码</label>
                            <input type="text" class="form-control" id="valid_code" placeholder="验证码">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img id="valid_img" width="260" height="60" src="/get_valid_img/" alt="">
                    </div>
                </div>
                <span class="btn register"><a href="#">注册>></a></span>
                <input type="button" value="登录" class="btn btn-primary pull-right login_btn"> <span class="error"></span>
            </form>
        </div>
    </div>
</div>

</body>
</html>