
* {
    margin: 0;
    padding: 0
}

ul {
    list-style-type: none;
}

.banner {
    width: 800px;
    height: 42px;
    margin: 100px auto;
    border: 1px solid #333333;
    border-radius: 5px;
    background: url(../img/rss.png) no-repeat right center;
    position: relative;
}

.banner li {
    float: left;
    width: 83px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}

.colud {
    width: 83px;
    height: 42px;
    background: url(../img/cloud.gif) no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.banner ul {
    position: absolute;
    left: 0;
    top: 0;
}



img {
    vertical-align: top;
}
.fdj{
    width: 352px;
    height: 352px;
    margin: 100px;
    border: 1px solid #666;
    position: relative;
    display: none;
}
.fdj .small{
    position: relative;
}
.fdj .big{
    width: 450px;
    height: 450px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -460px;
    border:1px solid #333333;
    display: none;
}
.fdj .small .mask{
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.big img{
    position: absolute;
    top:0;
    left: 0;
}